p {
  margin-bottom: 0px;
}

nav {
  height: 80px;
}

nav .nav-item {
  margin-right: 36px;
  margin-left: 36px;
}

nav .nav-item .nav-link {
  padding-left: 0px;
  padding-right: 0px;
  color: #697CA6;
  font-family: Quicksand;
  font-weight: 500;
  font-size: 12pt !important;
}

nav .nav-item .nav-item-button {
  text-decoration: none;
  background: #D2E1FF;
  padding: 13px 16px;
  border-radius: 2px;
  color: #3A79FF;
  border-radius: 2px;
  font-family: Quicksand;
  font-weight: 700;
  font-size: 13pt;
}

.nav__logo {
  margin-left: 117px;
  margin-right: 65px;
}

#home {
  background: url(../img/home.png) no-repeat;
  height: calc(100vh - 80px);
  background-size: cover;
  width: 100%;
}

#home p {
  margin-bottom: 0px;
}

#home .home__paragraph {
  font-family: Roboto;
  font-weight: 500;
  font-size: 10pt;
  color: #3D4F9F;
  text-transform: uppercase;
  padding-top: 92px;
  text-align: center;
}

#home .home__headline {
  font-family: Quicksand;
  font-weight: 300;
  font-size: 48pt;
  color: #3D4F9F;
  text-align: center;
}

#home .home__headline span {
  font-weight: bold;
}

#home .home__description {
  font-family: Roboto;
  font-weight: 400;
  font-size: 15pt;
  color: #8D96BD;
  text-align: center;
}

#partners {
  background: #fff;
  height: 146px;
}

#partners .partners__icons {
  padding-top: 60px;
  padding-bottom: 60px;
}

#promo__devices {
  background: #F5F8FF;
  height: 776px;
}

#promo__devices .promo__paragraph {
  font-family: Roboto;
  font-weight: 500;
  font-size: 10pt;
  color: #3D4F9F;
  text-transform: uppercase;
}

#promo__devices .promo__headline {
  font-family: Quicksand;
  font-weight: 300;
  font-size: 36pt;
  color: #3D4F9F;
}

#promo__devices .promo__headline span {
  font-weight: bold;
}

#promo__devices .promo__description {
  font-family: Roboto;
  font-weight: 400;
  font-size: 15pt;
  color: #8D96BD;
  text-align: left;
}

#promo__devices .promo__text {
  padding-top: 209px;
}

#promo__devices .promo__img {
  padding-top: 150px;
}

#promo__devices .get__button-left {
  background: #4C85FF;
  -webkit-box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
          box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
  border-radius: 2px 0px 0px 2px;
  padding: 13px 21px;
  text-decoration: none;
  font-family: Quicksand;
  font-weight: 700;
  color: #fff;
  font-size: 13pt;
  z-index: 9999;
  margin-top: 56px;
}

#promo__devices .get__button-right {
  background: transparent;
  border-radius: 0px 2px 2px 0px;
  padding: 11px 17px;
  border: 2px solid #D1D1E4;
  border-left: 0px;
  text-decoration: none;
  font-family: Quicksand;
  font-weight: 500;
  color: #ADB4D2;
  font-size: 13pt;
  margin-top: 56px;
}

#readAboutApp {
  background: url(../img/about_app_backgrnd.jpg) no-repeat;
  height: 100vh;
  background-size: cover;
}

#readAboutApp .about__paragraph {
  font-family: Roboto;
  font-weight: 500;
  font-size: 10pt;
  color: #3D4F9F;
  text-transform: uppercase;
  text-align: center;
  padding-top: 173px;
  margin-bottom: 0px;
}

#readAboutApp .about__headline {
  font-family: Quicksand;
  font-weight: 300;
  font-size: 24pt;
  color: #3D4F9F;
  text-align: center;
  font-weight: 500;
  padding-bottom: 93px;
}

#readAboutApp .about__headline span {
  font-weight: bold;
}

#readAboutApp .col__about {
  text-align: center;
}

#readAboutApp .col__name {
  font-family: 'Open Sans';
  font-weight: bold;
  font-size: 14pt;
  padding-top: 33px;
  color: #4074F8;
}

#readAboutApp .col__description {
  font-family: 'Open Sans';
  font-weight: 600;
  color: #ADB3CB;
  font-size: 11;
  line-height: 177%;
  padding-top: 25px;
  padding-bottom: 93px;
}

#readAboutApp .button__left a {
  text-decoration: none;
  background: #FFD7D7;
  padding: 13px 16px;
  border-radius: 2px;
  color: #D43F3F;
  border-radius: 2px;
  font-family: Quicksand;
  font-weight: 700;
  font-size: 13pt;
}

#readAboutApp .button__right a {
  text-decoration: none;
  background: #D2E1FF;
  padding: 13px 16px;
  border-radius: 2px;
  color: #3A79FF;
  border-radius: 2px;
  font-family: Quicksand;
  font-weight: 700;
  font-size: 13pt;
  text-align: left;
}

#readAboutApp .text__or p {
  font-family: 'Open Sans';
  font-size: 11pt;
  color: #ADB3CB;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 0px;
  margin-top: 15px;
}

#info {
  overflow: hidden;
}

#info .info__left {
  background: #6888FF;
  height: 342px;
  text-align: right;
  padding-top: 66px;
  padding-right: 90px;
}

#info .info__left .info__count {
  font-family: 'Quicksand';
  font-weight: 400;
  font-size: 48pt;
  text-align: right;
  color: #fff;
}

#info .info__left .info__description {
  font-family: 'Quicksand';
  font-weight: 500;
  font-size: 18pt;
  text-align: right;
  color: #fff;
}

#info .info__right {
  background: #E9EFFF;
  height: 342px;
  padding-top: 66px;
  padding-left: 90px;
}

#info .info__right .info__count {
  font-family: 'Quicksand';
  font-weight: 400;
  font-size: 48pt;
  text-align: left;
  color: #5E80FF;
}

#info .info__right .info__description {
  font-family: 'Quicksand';
  font-weight: 500;
  font-size: 18pt;
  text-align: left;
  color: #5E80FF;
}

#resourses {
  background: #F5F8FF;
  height: 100vh;
}

#resourses .resourses__paragraph {
  font-family: Roboto;
  font-weight: 500;
  font-size: 10pt;
  color: #3D4F9F;
  text-transform: uppercase;
  text-align: center;
  padding-top: 103px;
  padding-bottom: 20px;
}

#resourses .resourses__headline {
  font-family: Quicksand;
  font-weight: 300;
  font-size: 24pt;
  color: #3D4F9F;
  text-align: center;
  font-weight: 500;
  padding-bottom: 92px;
}

#resourses .resourses__headline span {
  font-weight: bold;
}

#resourses .carousel__item {
  height: 394px;
  background: #fff;
  border: 1px solid #D8E3FE;
}

#resourses .carousel__img {
  background: #fff;
  padding-top: 10px;
}

#resourses .carousel__headline {
  font-family: Quicksand;
  font-weight: 300;
  font-size: 36pt;
  color: #3D4F9F;
  font-weight: 400;
  text-align: left;
  padding-top: 43px;
}

#resourses .carousel__headline span {
  font-weight: bold;
}

#resourses .carousel__description {
  font-family: Roboto;
  font-weight: 400;
  font-size: 15pt;
  color: #8D96BD;
  text-align: left;
  font-size: 14pt;
  font-weight: 400;
}

#resourses .carousel__button {
  padding-top: 31px;
}

#resourses .carousel__button .carousel__button-left {
  text-decoration: none;
  background: #D2E1FF;
  padding: 13px 16px;
  border-radius: 2px;
  color: #3A79FF;
  border-radius: 2px;
  font-family: Quicksand;
  font-weight: 700;
  font-size: 13pt;
  text-align: left;
}

#resourses .carousel__button .carousel__button-right {
  text-decoration: none;
  color: #A6B6DA;
  font-family: Quicksand;
  font-weight: bold;
  font-size: 13pt;
  text-align: center;
  padding-left: 40px;
}

#resourses .carousel-control-next-icon {
  background-image: url(../img/carousel/line_right.svg);
}

#resourses .carousel-control-prev-icon {
  background-image: url(../img/carousel/line_left.svg);
}

#resourses .carousel-item {
  height: 480px;
}

#quotes {
  height: 479px;
  background: -webkit-gradient(linear, left top, left bottom, from(#EAF0FF), to(#F6F9FF));
  background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
}

#quotes p {
  margin-bottom: 0px;
}

#quotes .quotes__paragraph {
  font-family: Roboto;
  font-weight: 500;
  font-size: 10pt;
  color: #3D4F9F;
  text-transform: uppercase;
  text-align: left;
  padding-top: 147px;
}

#quotes .quotes__headline {
  font-family: Quicksand;
  font-weight: 300;
  font-size: 36pt;
  color: #3D4F9F;
  text-align: left;
  font-weight: 500;
  padding-top: 30px;
}

#quotes .quotes__headline span {
  font-weight: bold;
}

#quotes .quotes__description {
  font-family: Roboto;
  font-weight: 400;
  font-size: 15pt;
  color: #8D96BD;
  text-align: left;
  padding-top: 15px;
}

#quotes .quotes__inner {
  background: #FFFFFF;
  border: 1px solid #D8E3FE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 15px 50px #D4DCF1);
          filter: drop-shadow(0px 15px 50px #D4DCF1);
  -webkit-box-shadow: 0px 5px 50px #F3F5FA;
          box-shadow: 0px 5px 50px #F3F5FA;
  width: 503px;
  height: 175.37px;
  margin-bottom: 150px;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 140px;
}

#quotes .quotes__users {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #676F95;
  margin: 50px 80px 20px 90px;
}

#quotes .quotes__img {
  text-align: center;
}

.carousel-indicators [data-bs-target] {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #D1D6E3;
}

.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #5283FF;
}

#questions {
  background: #fff;
  height: 964px;
}

#questions .questions__paragraph {
  font-family: Roboto;
  font-weight: 500;
  font-size: 10pt;
  color: #3D4F9F;
  text-transform: uppercase;
  text-align: center;
  padding-top: 176px;
}

#questions .questions__headline {
  font-family: Quicksand;
  font-weight: 300;
  font-size: 24pt;
  color: #3D4F9F;
  text-align: center;
  font-weight: 500;
}

#questions .questions__headline span {
  font-weight: bold;
}

#questions .questions__spoilers-button {
  text-decoration: none;
  font-family: Quicksand;
  font-size: 15pt;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: #8E96B7;
  padding-left: 24px;
}

#questions .questions__spoilers-img {
  text-align: center;
  vertical-align: middle;
  padding-left: 24px;
}

#questions .spoiler__description {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14pt;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #8D96BD;
  padding-left: 56px;
}

#questions .spoiler__button {
  font-family: Quicksand;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  background: #E8ECF4;
  border-radius: 2px;
  padding: 15px 20px 15px 20px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #7382A3;
}

#questions .questions__line {
  height: 2px;
  width: 100%;
  background: #D8E3FE;
  margin-bottom: 15px;
  margin-top: 15px;
}

.img__close {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.img__open {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

#get__started {
  background: url(../img/get__started/content.svg);
  height: 447px;
}

#get__started .get__paragraph {
  font-family: Roboto;
  font-weight: 500;
  font-size: 10pt;
  color: #3D4F9F;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  padding-top: 93px;
}

#get__started .get__headline {
  font-family: Quicksand;
  font-weight: 300;
  font-size: 48pt;
  color: #3D4F9F;
  text-align: center;
  color: #fff;
}

#get__started .get__headline span {
  font-weight: bold;
}

#get__started .get__description {
  font-family: Roboto;
  font-weight: 400;
  font-size: 15pt;
  color: #8D96BD;
  text-align: center;
  color: #fff;
  padding-top: 23px;
}

#get__started .get_buttons {
  font-size: 0pt;
}

#get__started .get__button-left {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 15px #6480E8;
          box-shadow: 0px 5px 15px #6480E8;
  border-radius: 2px 0px 0px 2px;
  padding: 13px 17px;
  text-decoration: none;
  font-family: Quicksand;
  font-weight: 700;
  color: #565F82;
  font-size: 13pt;
  z-index: 9999;
  margin-top: 56px;
}

#get__started .get__button-right {
  background: transparent;
  -webkit-box-shadow: 0px 5px 15px #6480E8;
          box-shadow: 0px 5px 15px #6480E8;
  border-radius: 0px 2px 2px 0px;
  padding: 11px 17px;
  border: 2px solid #A0B4FF;
  border-left: 0px;
  text-decoration: none;
  font-family: Quicksand;
  font-weight: 700;
  color: #C7D3FF;
  font-size: 13pt;
  margin-top: 56px;
}

#email {
  height: 332px;
  background: #FCFDFF;
}

#email .email__headline {
  font-family: Quicksand;
  font-weight: 300;
  font-size: 18pt;
  color: #3D4F9F;
  font-weight: bold;
  padding-top: 118px;
}

#email .email__headline span {
  font-weight: bold;
}

#email .email__description {
  font-family: Roboto;
  font-weight: 400;
  font-size: 15pt;
  color: #8D96BD;
  text-align: left;
  font-weight: 400;
  font-size: 14pt;
  padding-top: 18px;
}

#email .email__input {
  background: #EFEFF7;
  color: #7A85AD;
  padding: 21px 168px 21px 23px;
  border-radius: 5px;
  border: 0px;
  font-family: Quicksand;
  font-weight: 700;
  font-size: 13px;
  margin-top: 138px;
}

#email .email__button {
  background: #4D6CE1;
  color: #fff;
  padding: 22px 62px 21px 62px;
  border-radius: 5px;
  margin-top: 138px;
  border: 0px;
  font-family: Quicksand;
  font-weight: 700;
  font-size: 13px;
  margin-left: 14px;
  -webkit-box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
          box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
}

footer {
  height: 287px;
}

footer .copyright {
  font-family: Quicksand;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #AEB8D0;
  margin-left: 263px;
  margin-top: 28px;
}

footer nav {
  margin-top: 133px;
}

.block__line {
  width: 100%;
  height: 1px;
  background: #D8E3FE;
}
